* {
    margin: 0;
    padding: 0;
}
.views-components_banner {
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 7px;
}